
/* Table */
table, th, td {
	z-index:20;
}
th, td {
    padding: 5px;
}

/* Links */
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:none}
a:active {text-decoration:none}

/* Colors and text inside Popups */
.modal h4 {
	font-weight: bold;
	color: #bd362f;
}

.modal a p {color: #bd362f;}
.modal a p:hover {color: #ee5f5b;}

/* Stop Headings */
a h2 {
	color: black;
}

/* Button Icon Colors */
.fa-leaf {color: #1c9739}
.fa-leaf:hover {color: #22b847}

.fa-history {color: #df6c08}
.fa-history:hover {color: #f0740a}

.fa-circle {color: #bd362f;}
.fa-circle:hover {color: #ee5f5b;}

/* Lists */
.list li {
display: inline-block;
padding: 2px 2px;
margin: 0 0px 4px 0;
}

.list {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

/* Center Image */
.center-img {
    margin: 0 auto;
}

/* Back to Map button */
.go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 0.5em;
	display: box;
	z-index:40;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.4);
}


/* Carousel left and right arrows */
.left {
  display: none;
}

.carousel-caption {
    color: black;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
html.ie7 #myelement,
html.ie8 #myelement,
html.ie9 #myelement {
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=-1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=-1);
    zoom: 1;
}

/* Dropdown boxes */
.clickme {
    background-color: #eee;
    border-radius: 4px;
    color: #666;
    box-shadow:0 5px #ccc;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

/* Before-After Slider */
div#french-inn {
	position: relative;
	font-size: 0;
}
div#french-inn img {
	width: 100%;
	height: auto;
}
div#cellar2 {
	background-image: url(stop7-cellarinn-CJ.png);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background-size: cover;
}
div#french-inn:hover { cursor: col-resize; }

iv#french-inn {
	position: relative;
	font-size: 0;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
