/* Links */
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:none}
a:active {text-decoration:none}

/* Button Icon Colors */
.fa-leaf {color: #1c9739}
.fa-leaf:hover {color: #22b847}

.fa-history {color: #df6c08}
.fa-history:hover {color: #f0740a}

/* Lists */
.list li {
display: inline-block;
padding: 2px 2px;
margin: 0 0px 4px 0;
}

.list {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

/* Center Image */
.center-img {
    margin: 0 auto;
}

/* Back to Map button */
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: box;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.4);
}


/* For Carousel left and right arrows */
.left {
  display: none;
}
/* get rid of gray boxes around arrows */
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

/* For dropdown boxes */
.clickme {
    background-color: #eee;
    border-radius: 4px;
    color: #666;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
